<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->
        <title><%=title %></title>
        <!-- Main styles for this application -->
        <link href="css/style.css" rel="stylesheet">
	<script type="text/javascript" src="jquery-1.8.3.min.js"></script>
    <script type="text/javascript" id="loadjson"></script>
    <script type="text/javascript">
	$(document).ready(function(){
       $("#getstringdata").click(function(event){
	    var checknumber = $('#prependedInput').val();
	    event.preventDefault();
		//yuquanheng add
		if(checknumber=="")
		{
		   return;
		}
		//
		var oHead = document.getElementsByTagName('HEAD').item(0);
        var oScript= document.createElement("script");
        oScript.type = "text/javascript";
        oScript.src='http://localhost//CheckUser.php?method=testjs&username='+$('#prependedInput').val();//+"@mcpoc.cn";
        oHead.appendChild( oScript);
        });
		//yuquanheng add
		//$('#prependedInput').keyup(function(){if($('#prependedInput').val()==""){$('#message').html("密码显示");$('#message').removeClass("text-success");$('#message').removeClass("text-danger");}});
		
		//
		$('#resoult').click(function(event){event.preventDefault();});
    });
   
    var testjs = function(msg){
	var jason = msg['passworld'];
	     if(jason.toString() == "用户不存在")
         {
		   $('#message').removeClass("text-success");
		   $('#message').addClass("text-danger");
		 }
		 else
         {
		   $('#message').removeClass("text-danger");
		   $('#message').addClass("text-success");
		 }
		 $('#message').html(jason);
    }
	//
	    function OnInput(event) {
		    if($('#prependedInput').val()==""){$('#message').html("密码显示");$('#message').removeClass("text-success");$('#message').removeClass("text-danger");}
        }
		
		function OnPropChanged (event) {
            if($('#prependedInput').val()==""){$('#message').html("密码显示");$('#message').removeClass("text-success");$('#message').removeClass("text-danger");}
        }
	//
    </script>
	

<style type="text/css">
</style>
</head>
<body>
<div class="card-block collapse in col-md-12">
<p>
<div class="form-group">
<div class="container">
            <div class="row" >
                <div style="margin-top: 74px;" class="col-md-6 center-block pull-xs-none vamiddle">
                    <div class="clearfix" >
                    </div>
					
					<div class="clearfix">
                        <h1 class="display-5 m-r-2" style="text-align:center;" >信云密码查询</h1>
                    </div>
					
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input style="height:40px;" id="prependedInput" class="form-control" size="16" placeholder="请输入用户名" type="text" oninput="OnInput(event)" onpropertychange="OnPropChanged (event)"/>
                        <span class="input-group-btn">
                            <button style="height:40px;" class="btn btn-info" type="button" id="getstringdata">搜索</button>
                        </span>
                    </div>
					<textarea style="text-align:center;" class="form-control" id="message" rows="2" placeholder="密码显示" readonly="readonly"></textarea>
                </div>
				
            </div>
        </div>
 </div>
</p>
</div>
</body>

</html>