<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息主页面</title>
</head>
<body>
<table>
    <tr>
        <th>编号</th>
        <th>姓名</th>
        <th>操作</th>
    </tr>
    {{each result as value }}
    <tr>
        <td>{{value.id}}</td>
        <td>{{value.name}}</td>
        <td><a href="/userinfo/delete/{{value.id}}">删除</a></td>
        <td><a href="/userinfo/toupdate/{{value.id}}">修改</a></td>
    </tr>
    {{/each}}
</table>
<a href="/userinfo/toaddurl">添加用户</a>
</body>
</html>